body{
    /* background:rgb(146, 41, 146) */
    background-image: url('http://interfacelift.com/wallpaper/previews/04194_pagview_672x420.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    text-align: center;
    width:100vw;
    height:100%
    background-position: center;
    margin: 0 0 0 0 !important
    /* text-align: center; */
}
#test{
    color: rgb(68, 143, 100);
}
h1{
    color: rgb(202, 94, 82);
}

.red_heading{
    color: red;

}

#test{
    color: rgb(187, 63, 104);

}
.navbar {
    background: pink !important;

}

#halloween {
    width: 100vw;
}

#heading {
    font-size: 2em;
}

#tired{
    font-size:1em;
}

#box {
    width: 50vw;
    height: 50%;
    background: powderblue;
    border: 25vw;
}

#taste{
    width:50vw;
    height:50px;
    background: rgb(230, 87, 35);
    display: inline;
    left: 65px;
}

#pink_box {
    background: rebeccapurple;
    width: 200px;
    height: 2000px;
    position: relative;
    z-index: 1;
}

#orange_box {
    background: rgb(68, 143, 100);
    width: 200px;
    height: 200px;
    top: 50%;
    bottom: 20%;
    left: 20%
    position: relative;
    z-index: 2;
}

