body{
    /* background:rgb(146, 41, 146) */
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/61h1O%2BdoNxL._UY395_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#test{
    color: rgb(68, 143, 100);
}
h1{
    color: rgb(202, 94, 82);
}

.red_heading{
    color: red;

}

#test{
    color: rgb(187, 63, 104);

}

#halloween {
    width: 100vw;
}

#heading {
    font-size: 1em;
}

#tired{
    font-size:1em;
}

#box {
    width: 50vw;
    height: 50%;
    background: powderblue;
    border: 25vw;
}

#taste{
    width:50vw;
    height:50px;
    background: rgb(230, 87, 35);
    display: inline;
    left: 65px;
}